<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mpbxnavigator" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MPBXNavigator</name>
    <js-module name="MPBXNavigator" src="www/MPBXNavigator.js">
        <clobbers target="cordova.plugins.MPBXNavigator" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MPBXNavigatorPlugin">
                <param name="ios-package" value="MPBXNavigatorPlugin"/>
            </feature>
        </config-file>
        
            <source-file src="src/ios/MPBXNavigator.swift" />
            
            <source-file src="src/ios/Abbreviations.swift" />
            <source-file src="src/ios/Bundle.swift" />
            <source-file src="src/ios/DashedLineView.swift" />
            <source-file src="src/ios/Directions.swift" />
            <source-file src="src/ios/DistanceFormatter.swift" />
            <source-file src="src/ios/LaneArrowView.swift" />
            <source-file src="src/ios/Locale.swift" />
            <source-file src="src/ios/ManeuverDirection.swift" />
            <header-file src="src/ios/MapboxNavigation.h" />
            <source-file src="src/ios/MGLMapView.swift" />
            <header-file src="src/ios/MGLMapView+MGLNavigationAdditions.h" />
            <source-file src="src/ios/MGLMapView+MGLNavigationAdditions.m" />
            <source-file src="src/ios/MGLVectorSource.swift" />
            <source-file src="src/ios/NavigationMapView.swift" />
            <source-file src="src/ios/NavigationViewController.swift" />
            <source-file src="src/ios/RouteManeuverViewController.swift" />
            <source-file src="src/ios/RouteMapViewController.swift" />
            <source-file src="src/ios/RoutePageViewController.swift" />
            <source-file src="src/ios/RouteStepFormatter.swift" />
            <source-file src="src/ios/RouteTableViewCell.swift" />
            <source-file src="src/ios/RouteTableViewController.swift" />
            <source-file src="src/ios/RouteTableViewHeaderView.swift" />
            <source-file src="src/ios/RouteVoiceController.swift" />
            <source-file src="src/ios/SimulatedRoute.swift" />
            <source-file src="src/ios/String.swift" />
            <source-file src="src/ios/Style.swift" />
            <source-file src="src/ios/StyleKitArrows.swift" />
            <source-file src="src/ios/TurnArrowView.swift" />
            <source-file src="src/ios/UIView.swift" />
 
            <resource-file src="src/ios/Resources/Base.lproj/Navigation.storyboard" />
            <framework src="libs/ios/AWSCore.framework"  />
            <framework src="libs/ios/AWSPolly.framework"  />
            <framework src="libs/ios/FBSnapshotTestCase.framework" custom="true" />
            <framework src="libs/ios/Mapbox.framework" custom="true" />
            <framework src="libs/ios/MapboxCoreNavigation.framework" custom="true" />
            <framework src="libs/ios/MapboxDirections.framework" custom="true" />
            <framework src="libs/ios/MapboxNavigation.framework" custom="true" />
            <framework src="libs/ios/OSRMTextInstructions.framework" custom="true" />
            <framework src="libs/ios/Polyline.framework" custom="true" />
            <framework src="libs/ios/Pulley.framework" custom="true" />
            <framework src="libs/ios/SDWebImage.framework" custom="true" />
            
    </platform>
</plugin>
